
#alfresco-teaser {
  margin: 0.6em 0;
}

ul.links li.alfresco_download {
  background: transparent url(images/download.gif) no-repeat;
  padding-left: 1.5em;
  padding-top: 0.2em;
}

div.alfresco-icon {
  float: left;
  margin-right: 0.4em;
}

.alfresco-browser-container .form-submit {
  margin-bottom: 0;
}

.alfresco-browser-container .form-type-textfield label {
  display: block;
}
