
#header {
  background: transparent url(../images/alfresco.gif) no-repeat 5px 3px;
}

#header a {
  color: #004488;
  text-decoration: none;
}

#header h1 {
  float: left;
  font-family: 'lucida grande', tahoma, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  padding: 10px 0 0 45px;
}

#search-box {
  float: right;
  margin: 10px 5px;
}

#preview-frame {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/*
 * GridPanel component styles
 */
#items-grid td {
  font-family: 'lucida grande', tahoma, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

#items-grid .x-panel-header {
  font-size: 13px;
}

#items-grid .row-node-exists {
  background-color: #EEFFEE;
}

#items-grid .row-icon {
  background: transparent url(../images/item.gif) no-repeat;
  padding: 2px 0 2px 20px;
}

#items-grid button.details {
  background-image: url(../images/details.gif);
}

#items-grid button.download {
  background-image: url(../images/download.gif);
}

#items-grid button.drupal {
  background-image: url(../images/drupal.gif);
}

#items-grid button.upload {
  background-image: url(../images/add.gif);
}

#items-grid button.view {
  background-image: url(../images/view.gif);
}

#items-grid button.delete {
  background-image: url(../images/delete.gif);
}

#items-grid button.create-space {
  background-image: url(../images/create_space.gif);
}

/*
 * TreePanel component styles
 */
#folder-tree .x-tree-node {
  font-family: 'lucida grande', tahoma, arial, sans-serif;
  font-weight: bold;
}

#folder-tree .x-tree-node-icon {
  background-image: url(../images/space.gif);
}

/*
 * FileUploadField component styles
 */
.x-form-file-wrap {
  position: relative;
  height: 22px;
}

.x-form-file-wrap .x-form-file {
  position: absolute;
  right: 0;
  -moz-opacity: 0;
  filter: alpha(opacity :   0);
  opacity: 0;
  z-index: 2;
  height: 22px;
}

.x-form-file-wrap .x-form-file-btn {
  position: absolute;
  right: 0;
  z-index: 1;
}

.x-form-file-wrap .x-form-file-text {
  position: absolute;
  left: 0;
  z-index: 3;
  color: #777;
}

body.x-body-masked .x-window-plain .x-window-mc {
  background-color:#f4f4f4 !important;
}
